@import 'https://fonts.googleapis.com/css?family=Open+Sans:400,700';
body {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}
a {
  color: #000;
}

.container {
  max-width: 900px;
  margin: auto;
  padding: 10px;
  background: #fff;
  color: #000;
  border: 1px solid #777;
}

input {
  font-family: consolas, monaco, monospace;
  padding: 7px 5px 0px;
  border: 3px solid #000;
  font-size: 2em;
  width: 5em;
  background: #fff;
  text-align: center;
  &:focus {
    
  }
}

#color {
  border-style: dotted;
}
#bgcolor {
  border-style: dashed;
}

fieldset {
  border: none;
  p {
    margin: 0;
    display: inline-block;
    label {
      display: block;
    }
  }
  div {
    margin-bottom: 10px;
    
  }
}

#pallette {
  list-style-type: none;
  // margin: 0;
  padding: 0;
  font-size: 0;
  li {
    display: inline-block;
    transition: all 0.3s ease;
    cursor: pointer;
    transition-delay: 0.1s;
    //margin-bottom: 1px;
    //padding: 3px;
    &[class] {
      padding: 3px;
      span {
        height: 16px;
        width: 16px;
      }
    }
    &:hover {
      transition-delay: 0s;
      transform: scale(3);
      font-size: 5px;
      box-shadow: 0 3px 10px rgba(black,0.7);
      outline: 1px solid #fff;
      position: relative;
      span {
        
        &:before {
          position: absolute;
          left: 0;
          top: 0;
          right: 0;
          background: rgba(#fff,0.8);
          content: attr(title);
        }
      }
    }
  }
  span {
    display: block;
    height: 22px;
    width: 22px;
    //padding: 2px;
    
  }
  .current, .bgcurrent {
    background: #fff;
    span {
      outline: 3px dotted #000;
    }
  }
  .bgcurrent {
    span {
      outline: 3px dashed #000;
    }
  }
}

#levels {
  margin: 20px auto;
  border-spacing: 5px;
  border: 1px solid #000;
  td,
  th {
    padding: 2px 5px;
    text-align: left;
    background: #fff;
  }
  thead th {}
  tbody {
    .first,
    .last {
      font-family: consolas, monaco, monospace;
      border: 1px solid #000;
      border-left: 20px solid;
    }
    th {
      border-left: 10px solid;
    }
  }
  .fail th {
    border-color: hsl(0, 100%, 40%)
  } 
  .aa-large th {
    border-color: hsl(40, 100%, 45%);
  }
  .aa th {
    border-color: hsl(80, 60%, 45%);
  }
  .aaa th {
    border-color: hsl(95, 60%, 41%);
  }
  .color {
    height: 20px;
    width: 20px;
  }
}

#contrast {
  display: block;
  margin: 10px auto 12px;
  font-size: 2em;
  padding: 27px 0;
  text-align: center;
  box-sizing: border-box;
  width: 100px;
  height: 100px;
  color: #fff;
  border-radius: 50%;
  cursor: pointer;
  &:hover {
    &+#messages {
      opacity: 1;
    }
  }
}
#messages {
  transition: all 0.3s ease;
  position: relative;
  &:before, &:after {
    position: absolute;
    top: -20px;
    left: 50%;
    margin-left: -10px;
    content: "";
    border: 10px solid transparent;
    border-bottom-color: #000;
  }
  &:after {
    border-width: 9px;
    border-bottom-color: #fff;
    top: -18px;
    margin-left: -9px;
  }
  display: inline-block;
  opacity: 0;
  border: 1px solid #000;
  padding: 5px;
  border-radius: 3px;
  margin-bottom: 10px;
}

.fail {
  background: hsl(0, 100%, 40%)
}

.aa-large {
  background: hsl(40, 100%, 45%);
}

.aa {
  background: hsl(80, 60%, 45%);
}

.aaa {
  background: hsl(95, 60%, 41%);
}

#reco {
  font-size: 1.5em;
  background: none;
  border: 2px solid;
  border-radius: 3px;
  font-family: consolas, monaco, monospace;
  &[disabled] {
    background: #ddd;
    opacity: 0.5;
    color: #000;
  }
}

.attention {
  border: 1px solid;
  max-width: 910px;
  margin: 1em auto;
  padding: 5px;
  color: #933;
}